
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

.arriba img {
    position: relative;
    right: -25px;
    width: 60px;
    height: 60px;
    bottom: 70px;
    margin-top: -25px;
}

.arriba h1 {
    background-color: #A291C6;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-align: left;
    padding: 40px 100px;
    align-items: right;
    flex-direction: row;
    border: 3px solid black; 
}

.middle {
    background-color: #FBDA59;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 46.5px;
    border: 3px solid black; 
    margin-top: -40px;
}

.middle img {
    position: relative;
    right: -700px;
    width: 400px;
    height: 200px;
    bottom: 80px;
}

.autor {
    background-color: #96F7D2;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 70px;
    border: 3px solid black; 
}

