<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>E-Commerce</title>
</head>
<body>
   <section class="arriba">
    <div class="text-container">
        <p>ELEGÍ <br> Y <br/> LLEVALO</p>
    </div>
    <img src="cuadricula.png" alt="Cuadricula" class="background-image">
</section>

    <section class="middle"> 
        <img src="Shampoo.png" alt="Shampoo">
        <p>BUSCAR</p>
        <div class="logos">
            <img src="Logos.png" alt="Logos">
        </div>
    </section>
    <section class="autor">
        <footer>
            <p>CONSEJOS ÚTILES</p>
        </footer>
    </section>
    <section class="vacio">
        <img src="Youtube.png" alt="YouTube" class="youtube-image">
        <img src="Cuadricula.png" alt="Cuadricula" class="background-image">
    </section>
</body>
</html>
