<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>E-Commerce</title>
</head>
<body>
    <section class="arriba"> 
        <h1>ELEGÍ </br> Y </br> LLEVALO</h1>
        <img src ="Cuadriculada.png" atl="imagen1" >
    </section>
    <section class="middle"> 
        <p>BUSCAR</p>
        <img src ="Cuadriculada.png" atl="imagen2" >
    </section>
    <section class="autor">
    <footer>
        <p>CONSEJOS ÚTILES</p>
    </footer>
</body>
</html>
</head>
<body>
    
</body>
</html>