<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacOwins</title>
</head>
<body>
    <section class="welcome"> 
    <p> Te damos la bienvenida a MacOwins</p>
    <h1>MacOwins</h1>
    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/radiomitre/2I22QUW6KFEVTAWGQJKABTW7QE.jpg" >
    </section>
    <section class="about">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </section>
    <footer>
        
    </footer>
</body>
</html>

