<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Golden Goose</title>
</head>
<body>
    <!-- Este es mi comentario -->
    <h1>Golden Goose</h1>
    <section class="welcome"> 
        <p>Welcome to Golden Goose Deluxe Brand</p>
        <img src="https://www.carlyle.com/sites/default/files/2021-08/GG-hero-2.jpg" >
    </section>
    <section class="about">
    <p> "Our family is ingnited by energy, positivity, and shared values. We let each individual's creativity flows, we put our trust in each other and in our dreams. Everybody can be a part of this: being Golden means sharing these ideals and making them your own. This is who we are and what we represent: a patchwork of stories, memories, and experiences that bring us together." </p>
    </section>
    <section class="products">
    <p> Our products: </p>
    <img src = "https://static.goldengoose.com/image/upload/f_auto,q_auto/v1/Asset/E-Commerce/NEW_IMAGES_STORES/NORTHAMERICA/USA/ILLINOIS/Chicago_desktop-1" >
    <p> We have a variety of products, but our main ones are: </p>
    <ul>    
        <li> T-Shirts </li>
        <li> Sneakers </li>
    </ul>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jh4C7w-dvho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <section class="contact">
    <p> Contact us: </p>
    <form action="/contact" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your name...">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Your email...">
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Write something..." style="height:10px"></textarea>
        <input type="submit" value="Submit">
    </form>
    </section>
    <section class="contact">
    <footer>
        <p>Golden Goose contact: goldengoosedeluxebrand@gmail.com</p>
    </footer>
</body>
</html>