<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
        <title>RESULTADOS</title>
</head>
<body>
    <section class="arriba"> 
        <h1>RESULTADOS</h1>
        <img src ="cuadrado.png" atl="imagen3" >
    <section class="middle"> 
        <p>&lt Escribí acá un detalle </br> de las conclusiones que </br> sacaste &gt</p>
        <img src ="grafico.png" atl="imagen4" >
    </section>
    <section class="autor">
    <footer>
        <p>Autor: Lorenzo Nastri</p>
    </footer>
</body>
</html>