
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #96f7d2;
}

.arriba img {
    margin-bottom: 400px;
    position: relative;
    left: -40px;
    bottom: 70px;
    margin-top: -150px;
    vertical-align: auto;

}

.arriba h1 {
    font-family: 'Press Start 2P', sans-serif;
    size: 40px;
    padding: 40px;
    margin-top: 40px;
    margin-left: 40px;

}


.middle {
 
}

.middle img {
    margin-bottom: 400px;
    position: relative;
    right: -450px;
    bottom: 401px;
    margin-top: -150px;
    vertical-align: auto;


}

.autor {
}

