<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Librería</title>
</head>
<body>
    <div class="container">
        <div class="rectangulo">
          <div class="navbar">
            <div class="circulo rojo"></div>
            <div class="circulo amarillo"></div>
            <div class="circulo verde"></div>
            <img class="flecha" src="Flecha.png" alt="Flecha">
          </div>
          <div class="linea"></div> <!-- Línea horizontal negra -->
          <div class="textoarriba">EN UN CLICK</div>
          <div class="textomedio">LIBRERÍA</div>
          <div class="image-container">
            <img class="click" src="Click.png" alt="Click">
          </div>
          <div class="textoabajo">BUSCAR</div>
        </div>
    </div>
</body>
</html>
